/* Apply styles to the container */
body{
    background: #000;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'Courier New', Courier, monospace;
}
div {
    position: absolute;
    color: #fff;
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    max-width: 40%;
    min-width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    /* border: 1px solid #ccc; */
    box-shadow: 0px 0px 15px 1px #ffffff8e;
    border-radius: 5px;
    background-color: #04535cb9;
  }
  
  /* Style the Slack Name */
  p[data-testid="slackUserName"] {
    font-size: 24px;
    font-weight: bold;
    /* color: #333; */
  }
  
  /* Style the Slack Display Picture */
  img[data-testid="slackDisplayImage"] {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  img[data-testid="slackDisplayImage"]:hover{
    transform: scale(1.1);
  }
  
  /* Style the Current Day of the Week */
  p[data-testid="currentDayOfTheWeek"] {
    font-size: 18px;
  }
  
  /* Style the Current UTC Time */
  p[data-testid="currentUTCTime"] {
    font-size: 18px;
  }
  
  /* Style the Track */
  p[data-testid="myTrack"] {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Style the GitHub URL */
  a[data-testid="githubURL"] {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
  }
  
  a[data-testid="githubURL"]:hover {
    text-decoration: underline;
  }
  